
<button mat-icon-button class="dlgClose" tabindex="-1" color="black" (click)="close()"><mat-icon>close</mat-icon></button>

<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput placeholder="User Name" formControlName="name">
  </mat-form-field>
  <br />

  <mat-form-field>
    <input matInput placeholder="Email Address" formControlName="email">
  </mat-form-field>

  <br />

  <mat-form-field>
    <mat-select placeholder="Select User Role" formControlName="role">
      <mat-option *ngFor="let role of roles" [value]="role.name">
        {{role.name}}
      </mat-option>
    </mat-select>
    <!-- <input matInput placeholder="Role" formControlName="role"> -->
  </mat-form-field>


  <br />

  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password">
  </mat-form-field>
  <br />

  <br />

  <button class="dlgSave" mat-flat-button color="primary" (click)="save()">Save</button>
  <!-- <button mat-flat-button color="warn" (click)="close()">Close</button> -->
</mat-dialog-content>