.mat-icon {
    padding-top: 6px;
    padding-right: 10px;
}
/* 
input {
    padding-left: 40px;
    margin-left: 100px;
}

.mat-input-element{
    padding-left: 100px;
} */

form {
    width: 260px;
    margin: 22px;
}

/* button {
    float: right;
    margin-right: 46px;
} */

