/* Angular Material Design Styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    overflow-y: hidden;
}

h2 {
    margin-top: 0;
    padding-top: 0;
    font-family: roboto;
    font-size: 18px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



.toolbar-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. overflow
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 0;
}


.page {
    flex-grow: 1;
    margin-top: 65px;
    display: flex;
    height: 100%;
}

/* .header {
    height: 64px;
    background-color: black;
} */

.page__sidebar {
    width: 280px;
    height: 100%;
    background-color: white;
    border-right: black;
    border-width: 1px;
}


.page__content {
    background-color: rgb(250, 250, 250);
    flex: 1;
    padding: 28px;
    border-left-color: black;
    border-left-width: 1px;
    overflow-y: auto;
}

.add-item-button {
    margin-bottom: 20px;
}
