<div style="text-align:center">

  <h2>Groups</h2>
  <table>
    <tr><th>Group ID</th><th>Group Name</th></tr>
    <tr *ngFor="let group of groups">
      <td>{{group.id}}</td><td>{{group.name}}</td>
      <td><button (click)="deleteGroup(group)" class="btn btn-success btn-small">Delete</button></td>
    </tr></table>
</div>

<h2>Create new group</h2>
<div class="container">
  <div class="form-group">
    <div class="row">
      <div class="col-lg-4">
        <label for="group-name" class="col-lg-12 text-right">Group Name:</label>
      </div>
      <div class="col-lg-8">
        <input type="text" name="group-name" [(ngModel)]="group_name" class="form-control">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-12">
      <button (click)="createGroup(group_name)" class="btn btn-success">Create</button>
    </div>
  </div>
</div>


