.example-container {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 400px; */
    height: 100%;
    margin-top: 0;
}


a {
    padding-left: 40px;
}

p {
    font-size: 14px;
    padding-right: 25px;
}

#hamburger {
    padding: 0;
    height: 64px;
    margin: 0;
    cursor: pointer;
}

#hamburger mat-icon {
    padding-top: 10px;
}

/* mat-sidenav-content {
    padding-top: 28px;
    padding-left: 28px;
  } */

#heading {
    text-decoration: none;
    color: white;
    z-index: 99999;

}

.mat-toolbar {
    overflow: hidden;
    z-index: 999;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}
