<h2>{{selectedchannel}} Chat Page</h2>
<mat-card>
    <div #chatContent class="scroll">
    <mat-list dense >
        <mat-list-item #msgList *ngFor="let message of messages; let last = last">
            <span class="username">[{{ message.username }}]</span>{{ message.msg }}
            {{last ? scrollToBottom() : ''}}
        </mat-list-item>
    </mat-list>
</div>
    <mat-form-field>
        <input  matInput [(ngModel)]="message" type="text" id="message" name="message">
    </mat-form-field>

    <button mat-icon-button color="primary" (click)="sendMessage(message)"><mat-icon>send</mat-icon></button>

</mat-card>
