<div style="text-align:center">
    <h4>Channels</h4>
    <table class="table table-striped table-bordered table-sm">
      <thead class="">
      <tr>
        <th scope="col">Select</th>
        <th scope="col">Channel ID</th>
        <th scope="col">Channel Name</th>
        <th scope="col">Channel Description</th>
        <th scope="col">Delete</th>
        <th scope="col">Update / Add</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let channel of channels">
        <td><input type="checkbox"></td>
        <td>{{channel.id}}</td>
        <td>{{channel.name}}</td>
        <td>Descripton here...</td>
        <td><button (click)="deleteChannel(channel)" class="btn btn-danger btn-sm">Delete</button></td>
        <td><button (click)="updateChannel(channel)" class="btn btn-sm btn-primary">Update</button></td>
      </tr>
      <tr>
          <td colspan="2">Add new channel:</td>
          <td><input type="text" name="channel-name" [(ngModel)]="channel_name" class="form-control"></td>
          <td>Description here...</td>
          <td>.</td>
          <td><button (click)="createChannel(channel_name)" class="btn btn-sm btn-success">Add</button></td>
      </tr>

    </tbody></table>
  </div>

    