<h2>Manage Users</h2>

<div class="add-item-button">
    <button mat-raised-button color="primary" (click)="addUser()">Add User</button>
</div>
<div class="scont">
    <mat-card>
        <table mat-table [dataSource]="users" matSort>

            <!-- Action Buttons -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="addEditUser(element)">
                        <mat-icon>create</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteUser(element)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef>Role</th>
                <td mat-cell *matCellDef="let element">{{element.role}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card>
</div>
