<h2>Add a New User</h2>

<form (submit)="addUser($event)">
    <mat-icon>person</mat-icon><mat-form-field>
      <input matInput [(ngModel)]="name" id="name" name="name" placeholder="User Name">
    </mat-form-field>
    <br />
    <mat-icon>security</mat-icon><mat-form-field>
      <input matInput [(ngModel)]="password" id="password" name="password" placeholder="Password">
    </mat-form-field>
    <br />
    <mat-icon>email</mat-icon><mat-form-field>
      <input matInput [(ngModel)]="email" id="email" name="email" placeholder="Email Address">
    </mat-form-field>
    <br />
    <mat-icon>people</mat-icon><mat-form-field>
        <mat-select placeholder="User Role">
            <mat-option *ngFor="let role of roles" [value]="role._id">
              {{role.name}}
            </mat-option>
          </mat-select>
        <!-- <input matInput type="role" placeholder="User Role"> -->
    </mat-form-field>
    <br />
    <button mat-flat-button color="primary" type="submit">Submit</button>
  </form>
