<div id="login">

  <h3>Please Login:</h3>

  <form (submit)="loginUser($event)">

    <mat-form-field>
      <input matInput placeholder="enter username" [(ngModel)]="name" name="username" id="username">
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput type="password" placeholder="password" disabled [(ngModel)]="password" name="password" id="password">
    </mat-form-field>
    <br />
    <button mat-flat-button color="primary" type="submit">Submit</button>

  </form>
