<div class="box" style="width: 400px">
<h3>Please Login</h3>
<form class="control" (submit)="loginUser($event)">

  <div class="field">
    <label class="label">Username</label>
    <input class="input" type="text" placeholder="enter username" [(ngModel)]="name" name="username" id="username">
  </div>
  <div class="field">
    <label class="label">Password</label>
    <input class="input password disabled" type="password" placeholder="password" disabled [(ngModel)]="password" name="password" id="password">
  </div>

  <p><button class="button is-primary" type="submit">Submit</button></p>

</form>
</div>
