<div class="card mt-3 ml-3" style="width: 400px">
  <div class="card-body">
    <h3>Please Login:</h3>
    <div class="form-group">
      <form class="control" (submit)="loginUser($event)">

        <div class="field mt-3">
          <label for="username">Username</label>
          <input class="form-control" type="text" placeholder="enter username" [(ngModel)]="name" name="username" id="username">
        </div>
        <div class="field mt-3">
          <label for="password">Password</label>
          <input class="form-control" type="password" placeholder="password" disabled [(ngModel)]="password" name="password"
            id="password">
        </div>
        <div class="float-right mt-3"><p><button class="button is-primary" type="submit">Submit</button></p></div>
      </form>
    </div>
  </div>
  <!-- </div> -->
