
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
mat-card {
    margin: 18px;
    height: 400px;
    width: 26%;
}

mat-selection-list, mat-nav-list {
    overflow-y: auto;
    height: 350px;
}



.add-user .mat-button {
    width: 100%;
    text-align: left;
}