
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.list-object {
    float: left;
    width: 300px;
    max-height: 250px;
    overflow-y: scroll;
    float: left;
    background-color: white;
    line-height: 0.8;
    padding: 24px;
    margin: 15px;
}

.channels {
    border-width: 1px;
    border-color: black;
    width: 40%;
    background-color: rgba(112, 116, 117, 0.05);
    height: 200px;
    float: left;
    margin-bottom: 40px;
    padding: 24px;
}

.current-users {
    width: 40%;
    background-color: rgba(63, 196, 236, 0.05);
    height: 200px;
    float: left;
    margin-bottom: 40px;
    padding: 24px;
    margin-left: 24px;
}

.channels .mat-nav-list {
    overflow-y: scroll;
    background-color: white;
    margin-bottom: 28px;
}

.mat-nav-list {
    border-width: 1px;
    border-color: black;
}

mat-select {
    float: none;
}

.adduser {
    position: relative;
    padding-top: 28px;
    width: 250px;
    float: none;
    left: 0;
    background-color: white;
}

.adduser mat-option {
    background-color: white;
    margin-left: 20px;
    width: 150px;
    float: left;
}

.adduser mat-flat-button {
    float: left;
}

/* h4 {
    float: left;
    width: 300px;
} */