<app-header></app-header>
<div class="page">
<div class="page__sidebar">
  <app-sidebar></app-sidebar>
</div>
<div class="page__content">


Channel Users comming soon...

</div>
</div>

<!-- <div>
  <ul>
    <li ngFor="let role of roles"></li>
  </ul>
</div> -->

<!-- <select (change)="getUsersInChannel(channel)">
<option *ngFor="let channel of channels">
  {{channel.name}}</option>
</select> -->

<!-- <option *ngFor="let channel of channels" [ngValue]="chan" (click)="showSelected(channel)"> -->
<!-- <form [formGroup]="form">
<select formControlName="chans" name="chan" multiple="multiple" >
    <option *ngFor="let channel of channels" [ngValue]="channel" >
      {{channel.name}}
    </option>

</select>
</form>

<p>{{ form.value | json}}</p>
<button class="btn" (click)="show(chan)">Click</button> -->



<!-- Show details of selected channel -->
<!-- Show users who are members -->
<!-- Add User button / dialog -->
<!-- Add Channel button / dialog -->

<!-- <div style="text-align:center">
    <h4>Users in Channel ... {{channel.name}} ...</h4>
    <table class="table table-striped table-bordered table-sm">
      <thead class="">
      <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>User Email</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
    <tr *ngFor="let user of channel-users">
      <td><input type="checkbox"></td>
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td><button (click)="deleteUserfromChannel(user)" class="btn btn-danger btn-sm">Delete</button></td>
    </tr>
    <tr class="table-info">
        <td colspan="2">Add new user:</td>
        <td><select>
          <option>..list of users not in this channel already</option>
        </select> </td>
        <td><button (click)="createGroup(group_name, group_description)" class="btn btn-success btn-sm">Add</button></td>
    </tr>
  </tbody>
  </table>
</div> -->

