<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="http://localhost:3000">2811ICT Chat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/chat">Chat</a>
      </li>
      <li class="nav-item active">
          <a  *ngIf="role >= 2" class="nav-link" routerLink="/groups">Groups</a>
        </li>
         <li *ngIf="role >= 2" class="nav-item">
          <a class="nav-link" routerLink="/group-channels">Group Channels</a>
        </li>
        <li *ngIf="role >= 2" class="nav-item">
          <a class="nav-link" routerLink="/group-users">Group Users</a>
        </li>
      <li  *ngIf="role >= 2" class="nav-item">
        <a class="nav-link" routerLink="/channel">Channels</a>
      </li>
      <li *ngIf="role >= 2" class="nav-item">
        <a class="nav-link" routerLink="/channel-users">Channel Users</a>
      </li>
      <li *ngIf="role >= 3" class="nav-item">
        <a class="nav-link" routerLink="/user">User</a>
      </li>
      <li *ngIf="role >= 3" class="nav-item">
        <a class="nav-link" routerLink="/roles">Roles</a>
      </li>
      <li *ngIf="role == 0" class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="role >= 1" class="nav-item">
          <a class="nav-link" routerLink="/login">Logout</a>
      </li>


    </ul>
  </div>
</nav>